<style type="text/css">
  .log_in{
    padding-left: 200px;
  }
</style>
<div class="log_in" style="width: 60rem;">
  <div class="body">
    <h2 class="title">Log In</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "off", class:"form-control" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="form-group">
          <%= f.check_box :remember_me %> Remember Me
          <!-- <%= f.label :remember_me %> -->
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Log in", class:"btn btn-primary" %>
      </div>
      <div class="action">
        <h6>Not a user?? <%= link_to 'Sign Up', new_user_registration_path, class:"btn btn-primary" %></h6>

      </div>
    <% end %>

  </div>

</div>
